version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    open-pull-requests-limit: 10
    reviewers:
      - "woodruffw"
    assignees:
      - "woodruffw"
    labels:
      - "dependencies"
      - "javascript"
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
      webpack:
        patterns:
          - "webpack*"
          - "*-loader"
      vscode:
        patterns:
          - "@types/vscode"
          - "@vscode/*"
          - "vscode-*"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    groups:
      github-actions:
        patterns:
          - "*"
